.nav {
    height: 50px;
    display: flex;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: center;

}

.nav_link {
    box-sizing: border-box;
    height: 45px;
    width: 100px;
    margin: 5px;
    border-radius: 30px;
    border-color: black;
    border-style: solid;
    padding: 10px 25px;
}

@media (max-width:480px) {
    .nav {
        flex-direction: column;
        height: fit-content;
    }

    .nav_link {
        width: 95%;
        height: 100px;
        padding: 40px 40vw;
    }
}